<div>
    <div class="falling-files">
        <img src="assets/images/file_icons/icon-csv.png" />
        <img src="assets/images/file_icons/icon-dbf.png" />
        <img src="assets/images/file_icons/icon-doc.png" />
        <img src="assets/images/file_icons/icon-avi.png" />
        <img src="assets/images/file_icons/icon-exe.png" />
        <img src="assets/images/file_icons/icon-iso.png" />
        <img src="assets/images/file_icons/icon-jpg.png" />
        <img src="assets/images/file_icons/icon-mp3.png" />
        <img src="assets/images/file_icons/icon-mp4.png" />
        <img src="assets/images/file_icons/icon-pdf.png" />
        <img src="assets/images/file_icons/icon-png.png" />
        <img src="assets/images/file_icons/icon-ppt.png" />
        <img src="assets/images/file_icons/icon-psd.png" />
        <img src="assets/images/file_icons/icon-txt.png" />
        <img src="assets/images/file_icons/icon-xls.png" />
        <img src="assets/images/file_icons/icon-zip.png" />
    </div>
    <div class="falling-files falling-files-2">
        <img src="assets/images/file_icons/icon-csv.png" />
        <img src="assets/images/file_icons/icon-dbf.png" />
        <img src="assets/images/file_icons/icon-doc.png" />
        <img src="assets/images/file_icons/icon-avi.png" />
        <img src="assets/images/file_icons/icon-exe.png" />
        <img src="assets/images/file_icons/icon-iso.png" />
        <img src="assets/images/file_icons/icon-jpg.png" />
        <img src="assets/images/file_icons/icon-mp3.png" />
        <img src="assets/images/file_icons/icon-mp4.png" />
        <img src="assets/images/file_icons/icon-pdf.png" />
        <img src="assets/images/file_icons/icon-png.png" />
        <img src="assets/images/file_icons/icon-ppt.png" />
        <img src="assets/images/file_icons/icon-psd.png" />
        <img src="assets/images/file_icons/icon-txt.png" />
        <img src="assets/images/file_icons/icon-xls.png" />
        <img src="assets/images/file_icons/icon-zip.png" />
    </div>
    <div class="falling-files falling-files-3">
        <img src="assets/images/file_icons/icon-csv.png" />
        <img src="assets/images/file_icons/icon-dbf.png" />
        <img src="assets/images/file_icons/icon-doc.png" />
        <img src="assets/images/file_icons/icon-avi.png" />
        <img src="assets/images/file_icons/icon-exe.png" />
        <img src="assets/images/file_icons/icon-iso.png" />
        <img src="assets/images/file_icons/icon-jpg.png" />
        <img src="assets/images/file_icons/icon-mp3.png" />
        <img src="assets/images/file_icons/icon-mp4.png" />
        <img src="assets/images/file_icons/icon-pdf.png" />
        <img src="assets/images/file_icons/icon-png.png" />
        <img src="assets/images/file_icons/icon-ppt.png" />
        <img src="assets/images/file_icons/icon-psd.png" />
        <img src="assets/images/file_icons/icon-txt.png" />
        <img src="assets/images/file_icons/icon-xls.png" />
        <img src="assets/images/file_icons/icon-zip.png" />
    </div>
</div>

@code {

}
